/*Stylesheet for the external library calendar some edits were made*/
.rolyart-calendar {
  background-color: white;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.6rem;
  border-bottom: 1px solid #DDDDDD;
}

.calendar-header .month-year {
  -webkit-box-flex: 1;
      -ms-flex: 1  1 auto;
          flex: 1  1 auto;
  margin: 0;
  margin: 0 1rem 0 1rem;
  top: 0.25rem;
}

.calendar-header .calendar-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



.calendar-header .calendar-control button.control-current-month {
  margin: 0 8px;
}

.calendar-header .calendar-control button.control-current-month .current-month {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgb(29 98 149);
  content: '';
  display: inline-block;
  border-radius: 50%;
}

.week-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0.5rem 0;
  border-bottom: 1px solid #DDDDDD;
}

.week-days div {
  width: calc(100% / 7);
  text-align: center;
}

.calendar-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 0 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.calendar-body .day {
  width: calc(100% / 7);
  text-align: center;
  padding: 1rem 0;
  background-color: white;
  cursor: pointer;
}

.calendar-body .day span {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.calendar-body .day.active {
  color: rgb(29 98 149);
  font-weight: bold;
}

.calendar-body .day.selected {
  font-weight: bold;
}

.calendar-body .day.selected span {
  background-color: rgb(29 98 149);
  display: inline-block;
  color: white;
  border-radius: 50%;
  -webkit-animation: pulse .4s ease;
          animation: pulse .4s ease;
}

.calendar-body .day.hovered {
  background-color: rgba(209,231,246, 0.5);
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  85% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  85% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.calendar-body .day.not-current {
  color: #999999;
  background-color: rgb(242,242,242);
}
