 @import url(animations.css);
/*Import animations stylesheet*/


/*This is the stylesheet for the index. Includes specific styles not included in the base stylesheet*/


/* || GENERAL STYLES*/
html {
    font-size: 10px; /*use relative font-size values. This will make things much more convenient especially when trying to make it compatiable with all devices*/
    font-family: 'Segoe UI', Helvetica, sans-serif; /*San-serif as a fallback for older browsers*/
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0rem 0rem 0rem 0rem;
    background-color: rgb(242,242,242);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    font-size: 1.5rem;
    background-color: white;
    padding: 0;
    border-bottom: 0.1rem solid rgba(242,242,242,1);
}

.navigation {
    top: 0;
    box-shadow: 0 4px 12px rgb(0 0 0 / 5%);
    position: sticky;
    z-index: 1;
}

footer {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    display: block;
    line-height: 1.5;
    margin-block-start: 20rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
}

main {
    padding-block-start: 2rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

h1 {

}

h2 {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}

p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

b {
    font-size: 2.5rem;
    font-weight: bolder;
}

textarea {
    resize: none;
}

.clickable_button {
    position: relative;
    color: rgb(29, 98, 149);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: inherit;
    border: 0;
    padding: 0.5rem;
    margin-block-start: 1rem;
    min-inline-size: 10rem;
    z-index: 1;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
.exit_button {
    border-radius: 50%;
    padding: 0.5em;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid black;
    color: white;
    position: absolute;
    top: 4%;
    right:8%;

}

.exit_button:hover {
    background-color: white;
    color: rgb(242,242,242);
  }

.exit_button:after {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    height: 0.2rem;
    top: 1.2rem;
    left: 0.5rem;
    right: 0.5rem;
    transform: rotate(45deg);
}

.exit_button:before {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    width: 0.2rem;
    left: 1.2rem;
    top: 0.5rem;
    bottom: 0.5rem;
    transform: rotate(45deg);
}

input[type="radio"] {
/* Add if not using autoprefixer */
-webkit-appearance: none;
appearance: none;
/* For iOS < 15 to remove gradient background */
background-color: #fff;
/* Not removed via appearance */
margin: 0;
}

input[type='radio'] {
    appearance: none;
    background-color: #fff;
    border-radius: 50%;
    inline-size: 2rem;
    block-size: 2rem;
    border: 0.2rem solid black;
    color: rgb(29, 98, 149);
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    margin-inline: 0.3rem;
    transform: translateY(-0.075rem);
}

input[type="radio"]::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem rgb(29, 98, 149);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type='radio']:after {
    padding-inline-end: 4rem;
}
.prevent_scroll {
    overflow-Y: hidden;
    position: fixed;
}
.delete_button {
    color:rgb(255, 91, 91);
}

.clickable_button:hover {
    color: white;
}

.clickable_button:before {
    content: "";
    position: absolute;
    background: rgb(29, 98, 149);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.delete_button::before {
    background:rgb(255, 91, 91);
}

.clickable_button:hover:before {
    top: 0;
  }

blockquote {
    font-size: 25px;
    line-height: 1.5;
    margin-block-end: 1rem;
}


.slide_button {
    border: none !important;
    border-radius: 50%;
    color: black;
    background-color: white;
    border: revert;
    text-decoration: none;
    display: inline;
    font-size: 2.5rem;
    padding: 0.4rem 1.4rem;
    opacity: 0;
}

#timetable_container div .slide_button {
    position: absolute;
    top: calc(50% - 2.5rem);
}

.next {
    right: 0.5%;
}

.previous {
    left: 0.5%;
}

ul[class] {
    padding-inline-start: 2rem;
    list-style-type: none;
}


.logo {
    max-inline-size: 4.5vh;
    padding: 1rem 1rem 1rem 1rem;
    margin-inline-end: 1rem;
    display: inline;
}

.drop_down_logo {
    padding-inline-end: 1rem;
    cursor: pointer;
}

.link_list {
    list-style-position: inside;
    padding-inline-start: 0rem !important;
}

.link_list li{
    text-align: none;
    list-style-type: none;
    display: inline;
    padding-inline-end: 2rem;
}

.end_user_agreements li {
    border-inline-end: 1px solid white;
    margin-inline-end: 1rem;
    padding-inline-end: 1rem;
}

@media screen and (max-width: 999px) {
    .end_user_agreements li {
        font-size: 1rem;
    }
}

.end_user_agreements :last-child {
    border-inline-end: none;
}

.notes + b { /*Fix this later, doesn't work now*/
    display: block;
    text-align: right;
}

.footer_copyright {
    font-size: 10px;
}

.main_line {
    font-size: 2.3rem;
    inline-size: 100%;
}

.secondary_line {
    font-size: 1.2rem;
    text-align: left;
    color: rgb(127, 127, 127);
    inline-size: 100%;
}

.period, .teacher {
    text-align: left;
    min-inline-size: 80%;
}

.room {
    text-align: right;
    min-inline-size: 20%;
    min-inline-size: 3rem;
    /*3rem because all rooms are 3 digits*/
}

.teacher {
    font-size: 0.9rem;
}

#time_until_transition {
    font-size: 4.5rem;
}

.transition_time_container {
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-block-end: 3rem;
    background-color: white;
}

#quote_author {
    text-align: center;
    font-size: 2rem;
    margin-block-start: 0;
    font-style: italic;
}

.drop_down {
    list-style-type: circle;
}

#next_period + p{
        font-size: 1.2rem;
        padding-block-end: 0;
}
/* || LAYOUTS*/
.timetable {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: 1rem;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}

.calendar {
    grid-column: 4/end;
    grid-row: 1;
}
.quote {
    grid-row: 2;
    grid-column: 1/end;
    font-size: 1.5rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

.quote .box{
    background-color: rgb(209, 231, 246);
    box-shadow: none;
    background-position: cover;
    text-align: center;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

.quote #container {
    inline-size: 100%;
    block-size: 6.32rem;
    margin-block-end: 3rem;
    margin-block-start: 3rem;
}

.quote .clickable_button {
    left: 40%;
}

#quote_container svg {
    min-width: 100%;
}
.focus {
    grid-row: 3;
    grid-column: 1/end;
    padding: 2rem;
    font-size: 1.5rem;
}

.focus .box {
    padding: 2rem;
    margin: 2rem 0 4rem 0;
}

#progress_bar {
    border: 1px solid rgba(124,124,124, 0.5);
    margin: 0 0 1rem 0;
    block-size: 1.5rem;
    overflow: hidden;
}

#progress {
    position: relative;
    right: 50%;/*This will need javascript, will have to depend on actual progress*/
    height: 100%;
    width: 50%;
    /*This animation will play when the user scrolls down far enough*/
    animation: progress_bar_move 3s ease-out both;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    overflow: hidden;
    background-color: rgb(255, 91, 91);
}

#current_focus {
    font-size: 2.5rem;
}

.notes {
    grid-row: 3;
    grid-column: 3/end;
}
#timetable_container {
    display: flex;
    flex-wrap: wrap;
    inline-size: 90%;
    position: relative;
    left: 5%
}
#timetable_container div {
    flex-grow: 1;
}
#daily_timetable {
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    margin-block-start: 2rem;
    inline-size: 55%;
}

.period span{
    position: relative;
    left: 3%;
}

.room span {
    position: relative;
    right: 3%;
}

.teacher span {
    position: relative;
    left: 3%;
}

.timetable .box {
    inline-size: 90%;
    position: relative;
    left: 5%;
}

.lunch_line, .recess_line {
    font-size: 2rem;
    color: rgb(127, 127, 127);
    background-color: rgba(242,242,242, 0.5);
}

.lunch_line td, .recess_line td {
    padding-block-end: 0.3rem;
    padding-block-start: 0.3rem;
    text-align: left;
}

#time_for_lunch, #time_for_recess {
    text-align: right;
}


.lunch_line span[class], .recess_line span[class] {
    position: relative;
    left: 5%;
}

#time_for_lunch span, #time_for_recess span {
    position: relative;
    right: 5%;
}


#mini_events h2 {
    background-color: rgb(29, 98, 149);
    color: white;
    padding: calc(0.5rem + 1px);
    margin: 0 0 0.5rem;
    border-radius: 5px;
}


hr {
    background-color: #DDDDDD;
    block-size: 0.05rem;
    border: none;
    margin: 1rem 0 1rem;
}

#events_container {
    overflow-y: auto;
    block-size: 18rem;
    margin-block-end: 1rem;
}

#events_list, #completed_events {
    overflow-x: hidden;
    font-size: 1.5rem;
    padding-inline: 1rem;
    margin: 0;
    /*background-color: rgb(242, 242, 242);*/
}

#events_list li, #completed_events li {
    display: flex;
    overflow: hidden;
    block-size: calc(0.64rem + 0.64rem + 1rem);
    list-style-position: inside;
    padding-block-end: 0.64rem;
    padding-block-start: 0.64rem;
    background-color: white;
    padding-inline-start: 0.5rem;
    background-color: rgba(242,242,242, 0.7);
    /*box-shadow: 0 2px 8px rgb(0 0 0 / 5%);*/
    border-radius: 1rem;
    margin-block-end: 0.9rem;
    white-space: nowrap;
}

#events_list .hovered_item {
    animation: hover_list 0.2s ease-out both;
}

.added_event {
    animation: add_event 0.5s ease-out both;
}

#events_list #Add_new_event {
    box-shadow: none;
    background-color: inherit;
}

#events_list li a, #completed_events li a {
    block-size: calc(0.64rem + 0.64rem + 1rem);
    display: inline-block;
}

#calendar_tutorial {
    position: relative;
    bottom: 10%;
    text-align: center;
    color: rgba(124,124,124, 0.8);
    inline-size: 70%;
}


#completed_events li {
    color: rgb(124,124,124);
    text-decoration: line-through;
}

.flex {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.header {
    justify-content: left;
    align-items: center;
}

.grid_wrapper { /*should this even be a grid? A flexbox will still work but it won't be as responsive i think.*/
    display: grid;
}

.box {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
    /*
    transition-property: box-shadow, transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    */
}


.center_vertical { /*Centers elements vertically and horizontallt*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || UTILITES */
a {
    font-size: inherit;
    color: inherit;
}

a[href] {
  text-decoration: none;
}

li a[href]:hover
{
  text-decoration: underline;
}

p a {
    color: blue;
}

p a:visited {
    color: purple;
}

.tab {
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(124, 124, 124);
    padding: 0.2rem 0.2rem;
    margin-inline-end: 0.8rem;
}

.show {
    visibility: visible;
    opacity: 1;
}

button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.buttons_container button {
    margin-inline-end: 2rem;
}


.current {
    background-color: black;
}

.tab_container {
    padding-block-end: 2rem;
    padding-block-start: 3rem;
    opacity: 0;
}

.root_checkmark {
    border-radius: 50%;
    margin-inline-end: 1.5rem;
    min-inline-size: 2rem;
    block-size: 2rem;
    display: inline-flex;
    align-items: center;
    border: 0.15rem solid rgb(124, 124, 124);
    background-color: white;
  }

.checkmark {
    display: inline-block;
    position: relative;
    left: 32%;
    bottom: 10%;
    height: 0.9rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border-bottom: 0.22rem solid transparent;
    border-right: 0.22rem solid transparent;
    border-radius: 0.1rem;
}

.visible_header {
    animation: show_header 0.5s ease-out both;
}

.invisible_header {
    animation: hide_header 0.5s ease-out both;
}


.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.open_modal {
    animation: fade_in_text 0.1s ease-in both;  
}

.close_modal {
    animation: remove_modal 0.4s ease-in both;
}

.modal_content_wrapper {
    background-color: white;
    min-block-size: 5rem;
    border-radius: 1rem;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.show_modal_content {
    animation: show_modal 0.3s ease-in both;
}

.fade_out_modal {
    animation: fade_out 0.7s ease-out both;
}

/*The tab container doesn't fade in and out (when hovered) if the device is mobile.
This is because the 'hovering' isn't common on mobile */
@media screen and (max-width: 999px) {
    .tab_container {
        opacity: 1 !important; 
    }
}

.slide_button:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}


/*#events_list li :hover{
    background-color: rgb(209, 231, 246);
}*/

/*Padding for table*/
@media screen and (max-width: 999px) {
    /*Table size adjusts for screen size*/
    #daily_timetable {
        inline-size: 70%;
    }
}
#mini_calendar {
    inline-size: 80%;
    border: 1px solid black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-block-start: 2rem;
}
#mini_events {
    inline-size: 90%;
    padding: 0 0.5rem 0 0.5rem;
}
main .grid_wrapper {
    column-gap: 4rem;
    row-gap: 50rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    /*1st row timetable and calendar, 2nd row for quote of the day, 3rd row for functions*/
}
/* || FORM STYLING */
#form {
    font-size: 1rem;
    inline-size: 80%;
    position: relative;
    left: 0%;
    padding-block-start: 3rem;
}

#form label {
    font-size: 1.5rem;
    margin: 0.5rem;
}

#form .priority_radio_btn_container {
    border-radius: 0.5rem;
    background-color: rgb(242,242,242);
    justify-content: middle;
    vertical-align: middle;
}

#form input {
    font-size: 1.5rem;
}

#form .grid_wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: fit-content(50%) fit-content(100%);
    row-gap: 1rem;
    column-gap: 2rem;
}

@media screen and (max-width: 999px) {
    #form .grid_wrapper {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
    }

    .priority_radio_btn_container {
        grid-row: 2;
    }

    label[for='due_date'] {
        grid-row: 3;
    }

    .event_due_date {
        grid-row: 4;
    }
    
}

#form .event_title {
    inline-size: 100%;
    font-size: 2.2rem;
    border: none;
    border-bottom: 1px solid black;
    margin-block: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    outline: 0;
    color: rgba(124,124,124,0.5);
}


#form .event_due_date {
    border: none;
    border-radius: 0.5rem;
    font-family: 'Segoe UI';
    background-color: rgb(242,242,242);
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    display: none; 
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#form textarea {
    inline-size: calc(100% - 2rem);
    background-color: rgba(242,242,242, 1);
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    font-family: 'Segoe UI', sans-serif;
    margin-block: 1.5rem;
    block-size: 30rem;
    color: rgba(124,124,124,0.5);
}
#form .clickable_button {
    margin: 0 2rem 2rem 0;
}

#form .clickable_button {
    margin: 0 0 1.7rem 0;
    min-width: none;
    margin-inline-start: 2rem;
}

#form .delete_button {
    float: right;
    margin-inline-end: 2rem;
}

/* || ALERTS */
#alert {
    padding: 2rem;
}
#alert i {
    margin-inline-end: 1rem;
    user-select: none;
    font-size: 6rem;
    color: rgba(29, 98, 149);
    float: inline-start;
    display: block;
    position: relative;
    left: calc(50% - 3rem)
}

.alert_title {
    font-size: 2rem;
    text-align: center;
    padding-block: 1rem;
    border-block: 0.2rem solid rgba(29, 98, 149);
}

.alert_desc {
    padding: 1rem;
    position: relative;
    text-align: center;
    background-color: rgba(242,242,242, 1);
    border-radius: 0.5rem;
    font-size: 1.3rem;
    margin: 0;
    padding: 2rem;
    overflow: hidden;
}

#alert button{
    margin-inline: 3rem;
    margin-block: 1.5rem;
    inline-size: 50%;
}
/* || RESPONSIVE DESIGN */
@media screen and (max-width: 999px) {
    /* font-size and layout for mobile devices. 
    Essentially this will increase font size 
    for smaller res machines and also stack the boxes differently.*/
    html {
        font-size: 25px;
    }
    .box, .timetable {
        grid-column: 1/end;
    }
    .calendar {
        grid-row: 2;
    }
    .quote {
        grid-row: 3;
    }
    .focus {
        grid-row: 4;
        grid-column: 1/end;
    }
    .notes {
        grid-row: 5;
        grid-column: 1/end;
    }
}

/*Larger font for high-res screens*/
@media (max-width: 1980px) and (min-width: 1600px) {
    html {
        font-size: 15px;
    }
    
}