/* || GENERAL STYLES*/
html {
    font-size: 10px; /*use relative font-size values. This will make things much more convenient especially when trying to make it compatiable with all devices*/
    font-family: 'Segoe UI', Helvetica, sans-serif; /*San-serif as a fallback for older browsers*/
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 999px) {
    .vertical_link_list {
        padding-inline-end: 4rem;
    }
}

body {
    margin: 0rem 0rem 0rem 0rem;
    background-color: rgb(242,242,242);
}

header {
    font-size: 1.5rem;
    background-color: white;
    padding: 0 0 0 0;
}

footer {
    font-size: 1.2rem;
    background-color: rgb(32, 32, 32);
    color: white;
    display: block;
    line-height: 1.5;
    margin-block-start: 2rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
}

main {
    padding-block-start: 2rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

b {
    font-size: 2.5rem;
    font-weight: bolder;
}

blockquote {
    font-size: 25px;
    line-height: 1.5;
    margin-block-end: 1rem;
}

.center_vertical { /*Centers elements vertically and horizontallt*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_container {
    display: flex;
}

.tab {
    display: inline;
    padding-inline-end: 2rem;
    text-align: left;
    font-size: 1.5rem
}


ul[class] {
  list-style-type: none;
}

.logo {
    max-inline-size: 4.5vh;
    margin-inline-start: 2rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    display: inline;
}

.link_list li{
    text-align: none;
    list-style-type: none;
    display: inline;
    padding-inline-end: 2rem;
}



.vertical_link_list li {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    text-align: left;
}

.vertical_link_list + li {
    font-weight: bold;
}

.notes + b { /*Fix this later, doesn't work now*/
    display: block;
    text-align: right;
}

.drop_down {
    list-style-type: circle;
}

#footer_container {
    display: flex;
    align-items: center;
}

/* || LAYOUTS*/
.flex {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.header {
    justify-content: left;
    align-items: center;
}

.grid_wrapper { /*should this even be a grid? A flexbox will still work but it won't be as responsive i think.*/
    display: grid;
}

.box {
    background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
    /*
    transition-property: box-shadow, transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    */
}

#social_container {
    min-inline-size: 50%;
}

#company_name {
    text-align: center;
    display: block;
}

/* || UTILITES */
a {
    font-size: inherit;
    color: inherit;
}

a[href] {
  text-decoration: none;
}

li a[href]:hover {
  text-decoration: underline;
}

p a {
    color: blue;
}

p a:visited { /*Probably not*/
    color: purple;
}

/* || SVG AND ANIMATIONS*/

.line {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: move 0.8s linear;
    animation-fill-mode: forwards;
}

.timetable, .calendar {
    animation-name: fade-top;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.quote, .focus {
    visibility: hidden;
}

#container {
    min-height: 2rem;
}

/*This animation plays when user hovers over a row. Highlights the row basically */
@keyframes highlight {
    0% {
        background-color: inherit;
    }
    
    100% {
        background-color: rgb(209,231,246);
    }
}
/*Removes the highlight when user's mouse leaves element*/
@keyframes remove_highlight {
    0% {
    }

    100% {
        background-color: unset;
    }
}

/*This is the animation that draws the lines*/
@keyframes move {
    0% {
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
/*This is the animation that plays when a box/card is loaded*/
@keyframes fade-top {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    62.5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*This is the animation that plays when the user scrolls down. Displays the quote of the day and the Current focus*/
@keyframes fade_in {
    0% {
        opacity: 0;
        background-color: inherit;
    }

    100% {
        visibility: visible;
        background-color: rgb(209,231,246);
        opacity: 1;
    }
}

/*Fade in animation but for text*/
@keyframes fade_in_text {
    from {
        opacity: 0;
        transform: perspective(500px) translate(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

/*Typing animation used for the quote*/
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/*Blinking animation*/
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@keyframes letter-animation {
    0% {
        stroke-dashoffset: 2600;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
