/* || GENERAL STYLES*/
html {
    font-size: 10px; /*use relative font-size values. This will make things much more convenient especially when trying to make it compatiable with all devices*/
    font-family: 'Segoe UI', Helvetica, sans-serif; /*San-serif as a fallback for older browsers*/
}

body {
    margin: 0rem 0rem 0rem 0rem;
    background-color: rgb(242,242,242);

}

header {
    font-size: 1.5rem;
    background-color: white;
    padding: 0 0 0 0;
}

footer {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

main {
    padding-block-start: 4rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}


p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.tab_container {
    display: flex;
}

.tab {
    display: inline;
    padding-inline-end: 2rem;
    text-align: left;
    font-size: 1.5rem
}

#time_until_transition {
    font-size: 3rem;
    font-weight: bolder;
}

.main_line {
    font-size: 2rem;
    inline-size: 100%;
}

.secondary_line {
    font-size: 1rem;
    text-align: left;
    color: rgb(127,127,127);
    inline-size: 100%;
}

.period, .teacher {
    text-align: left;
    min-inline-size: 80%;
}

.room {
    text-align: right;
    min-inline-size: 20%;
    min-inline-size: 3rem; /*3rem because all rooms are 3 digits*/
}

.teacher {
    font-size: 0.9rem;
}

.logo {
    max-inline-size: 10vh;
    display: inline;
}

div ul li {
    list-style-type: none;
    display: inline;
    padding-inline-end: 2rem;
}

.drop_down {
    list-style-type: circle;
}

/* || LAYOUTS*/
.flex {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.header {
    justify-content: left;
    align-items: center;
}

.grid_wrapper {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 8rem 8rem 8rem 8rem;
}

.box {
    background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
    /*
    transition-property: box-shadow, transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    */
}
.timetable {
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    grid-column: 1/4;
    grid-row: 1/end;
    text-align: center;    
}



.calendar {
    grid-column: 4/end;
    grid-row: 1/end;
}

#daily_timetable {
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    inline-size: 80%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    min-width: 80%;
}



/* || UTILITES */
a {
    font-size: inherit;
    color: inherit;
}

p a {
    color: blue;
}

p a:visited {
    color: purple;
}

/* || SITEWIDE */

/* || STOREPAGES */
